[Desktop Entry]
Encoding=UTF-8
Name=irods-iBridgesGUI
Exec=bash -ic "cd /opt/iBridges && python3.10 irods-iBridgesGui.py"
Icon={{ desktopfile_app_name }}
Terminal=False
Type=Application
Categories=Development;Science
